@model IEnumerable<inmobiliariaAST.Models.Propietario>
@{
    ViewData["Title"] = "Lista de Propietarios";
}

<div class="text-center">
    <h1 class="display-4">Lista de Propietarios</h1>
</div>			
<h4>
	<a href="/Propietario/Edicion/">Agregar Nuevo Propietario</a>
</h4>

<table class="table">
	<thead>
		<tr>
			<th>DNI</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Telefono</th>
			<th>Email</th>
			<th>Direccion</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				 <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
				<td>
					<a href="/Propietario/Detalles/@item.ID_propietario" class="btn btn-info btn-sm">Detalles</a>
          <a href="/Propietario/Edicion/@item.ID_propietario" class="btn btn-warning btn-sm">Editar</a>
					 @if (User.IsInRole("Administrador"))
          {
             <input type="button" value="Eliminar" class="btn btn-danger btn-sm" onclick="eliminar(@item.ID_propietario, '@item.Nombre')" />
          }
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
    <script>
        function eliminar(id, nombre) {
            Swal.fire({
                title: `¿Estás seguro de eliminar al propietario ${nombre}?`,
                text: "No podrás revertir esta acción",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, eliminar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title:"Deleted!",
                        text:"El Propietario ha sido eliminado",
                        icon: "succes"
                    })
                    // Redirige a la acción de eliminar
                    window.location.href = '/Propietario/Eliminar/' + id;
                }
            });
        }
    </script>
    <script>
        // Verificamos si hay un mensaje de éxito desde TempData
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                Swal.fire({
                    title: '¡Éxito!',
                    text: '@TempData["SuccessMessage"]',
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
            </text>
        }
    </script>
}

