@model IEnumerable<inmobiliariaAST.Models.Propietario>
@{
    ViewData["Title"] = "Lista de Propietarios";
}

<div class="text-center">
    <h1 class="display-4">Lista de Propietarios</h1>
</div>			
<h4>
	<a href="/Propietario/Edicion/">Agregar Nuevo Propietario</a>
</h4>

<table class="table">
	<thead>
		<tr>
			<th>DNI</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Telefono</th>
			<th>Email</th>
			<th>Direccion</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				 <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
				<td>
					<a href="/Propietario/Detalles/@item.ID_propietario" class="btn btn-info btn-sm">Detalles</a>
          <a href="/Propietario/Edicion/@item.ID_propietario" class="btn btn-warning btn-sm">Editar</a>
					<input type="submit" value="Eliminar" class="btn btn-danger btn-sm" onclick="eliminar(@item.ID_propietario, `@item.Nombre`)" />
				</td>
			</tr>
		}
	</tbody>
</table>

<form class="modal" tabindex="-1" asp-action="Eliminar" id="modal_eliminar_propietario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirme Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<input type="hidden" name="id" value="" id="propietario_eliminar_id">
        <p>Propietario: <span id="propietario_eliminar_nombre"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</form>

@section Scripts {
<script>
	function eliminar(id, nombre){
		document.querySelector("#propietario_eliminar_id").value = id;
		document.querySelector("#propietario_eliminar_nombre").innerHTML = nombre;
		$("#modal_eliminar_propietario").modal("show");
	}
</script>
}

