@model inmobiliariaAST.Models.Inquilino

@{
    ViewBag.Title = "Detalles del Inquilino";
}

<div class="text-center">
    <h1 class="display-4">Detalles del Inquilino</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>DNI:</label>
                <p>@Model.DNI</p>
            </div>
            <div class="form-group">
                <label>Nombre:</label>
                <p>@Model.Nombre</p>
            </div>
            <div class="form-group">
                <label>Apellido:</label>
                <p>@Model.Apellido</p>
            </div>
            <div class="form-group">
                <label>Teléfono:</label>
                <p>@Model.Telefono</p>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <p>@Model.Email</p>
            </div>
            <div class="form-group">
                <label>Dirección:</label>
                <p>@Model.Direccion</p>
            </div>
        </div>
    </div>

    <div class="form-group">
        <a href="@Url.Action("Index")" class="btn btn-primary">Volver a la lista</a>
        <a href="@Url.Action("Edicion", new { id = Model.ID_inquilino })" class="btn btn-warning">Editar</a>
        <!--<a href="@Url.Action("Eliminar", new { id = Model.ID_inquilino })" class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar este propietario?');">Eliminar</a>-->
    </div>
</div>
